.baodi {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 850px;
}

.LBT {
    width: 1200px;
    height: 650px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 5%;
    background-color: #505050;
    padding: 50px;
    box-shadow: 0 0 25px -10px rgb(90, 90, 90);
}

#slide {
    margin-top: 50px;
}

.item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    border-radius: 20px;
    box-shadow: 0 0 25px -10px rgb(90, 90, 90);
    transition: all 0.5s;
}

.item:nth-child(1),
.item:nth-child(2) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    /* transform: translateY(0); */
    border-radius: 0;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 220px);
}

.item:nth-child(5) {
    left: calc(50% + 440px);
}

.item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .lhx {
    width: 300px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    font-family: system-ui;
    color: #000000;
    display: none;
}

.item:nth-child(2) .lhx {
    display: block;
}

.item .name {
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    animation: showlhx 1s ease-in-out 1 forwards;
}

.item .des {
    margin: 20px 0;
    opacity: 0;
    font-size: 20px;
    font-weight: bold;
    animation: showlhx 1s ease-in-out 0.3s 1 forwards;
}

.item button {
    font-weight: bold;
    width: 100px;
    border: 0px;
    padding: 10px 20px;
    border-radius: 15px;
    opacity: 0;
    animation: showlhx 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showlhx {
    from {
        opacity: 0;
        transform: translateY(100px);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.buttons {
    width: 100%;
    position: absolute;
    bottom: 50px;
    margin-left: -50px;
    text-align: center;
}

.s_button {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(39, 64, 255);
    background-color: #fff;
    font-size: 25px;
    border-radius: 30%;
    font-weight: bold;
    border: 1px solid #1c50ee;
    opacity: 0.6;
    margin: 0 25px;
    transform: .5s;
}

.s_button:hover {
    cursor: pointer;
    background-color: #ccc;
}