/* 网上找到的字体库 */
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

/* 最右边的拖动竖线 */
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #1d0e15;
}

html::-webkit-scrollbar-thumb {
  background: hsl(214, 100%, 68%);
}

body {
  background: rgba(149, 143, 232, 0.969);
}